.nav {
    grid-area: nav;
    background-color: rgba(1,67,180,0.44);

    box-shadow:  0 0 10px #000;
    padding: 20px;
  }
.item a{
  color: white;
    text-decoration: none;
}
.item a.active {
  color: gold;
}