.app-wrepper {
    margin: 0 auto;
    display: grid;
    width: 1200px;

    grid-template-areas:
  "header header"
  "nav cont";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    grid-gap: 1px;
}
.app-wrepper-nav {
    grid-area: nav;
    margin-top: 150px;
    padding-left: 20px;
}
.app-wrepper-content {
    grid-area: cont;
    border-radius: 0 0 15px;
    background-color: rgba(213,199,186,0.9);


}
.app-wrepper-content img{
    height: 250px;
    width: 1000px;
}


