.app-wrepper {
    margin: 0 auto;
    display: grid;
    width: 1200px;

    grid-template-areas:
  "header header"
  "nav    cont";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    grid-gap: 1px;


}

.app-wrepper-content {
    grid-area: cont;
    background-color: rgb(221, 238, 196);

}

