.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding:10px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {

}
.dialogs img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
   
  }